@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Italic";
  src: url("../fonts/Roboto-Italic.ttf");
  font-style: normal;
  font-weight: normal; }

body {
  background-color: #fff;
  font-size: 16px;
  font-family: "Roboto-Regular", sans-serif;
  color: #000; }

*,
*:before,
*:after {
  box-sizing: border-box; }

a, button {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out; }

input {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

img {
  vertical-align: bottom; }

.big-title {
  font-size: 56px;
  font-family: "Roboto-Bold", sans-serif;
  line-height: 1.14;
  color: #000; }

.yellow-title {
  color: #f6931d;
  font-size: 28px;
  font-family: "Roboto-Medium", sans-serif; }

.main-title {
  font-size: 32px;
  color: #000;
  font-family: "Roboto-Medium", sans-serif;
  margin-bottom: 40px;
  text-align: center; }
  .main-title-white {
    color: #fff; }

.white-btn {
  display: inline-block;
  font-size: 20px;
  color: #4a4a4a;
  padding: 14px 22px;
  border: 1px solid #9b9b9b;
  border-radius: 5px; }
  .white-btn:hover {
    background: #9b9b9b;
    color: #fff; }

.more {
  color: #f6931d;
  font-size: 20px;
  font-family: "Roboto-Medium", sans-serif;
  display: inline-block;
  position: relative;
  padding-right: 15px; }
  .more:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #f6931d;
    border-right: 2px solid #f6931d;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    top: 7px;
    right: 0; }

.grey-btn {
  display: inline-block;
  color: #fff;
  background: #5d5d5d;
  padding: 13px 20px;
  font-size: 20px;
  font-family: "Roboto-Medium", sans-serif;
  border-radius: 5px;
  border: none; }
  .grey-btn:hover {
    background: #6d6d6d; }

.black-btn {
  display: inline-block;
  color: #fff;
  background: #262729;
  padding: 13px 20px;
  font-size: 20px;
  font-family: "Roboto-Medium", sans-serif;
  border-radius: 5px;
  border: none; }
  .black-btn:hover {
    background: #3a3b3e; }

.orange-btn {
  display: inline-block;
  color: #fff;
  background: #f6931d;
  padding: 13px 20px;
  font-size: 20px;
  font-family: "Roboto-Medium", sans-serif;
  border-radius: 5px;
  border: none; }
  .orange-btn:hover {
    background: #ffa942; }
  .orange-btn.small {
    width: 140px !important; }

.breadcrumbs {
  margin-bottom: 25px; }
  .breadcrumbs ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .breadcrumbs ul li {
      margin-right: 20px;
      padding-right: 20px;
      position: relative; }
      .breadcrumbs ul li:before {
        position: absolute;
        content: '';
        right: 0;
        top: 50%;
        width: 8px;
        height: 8px;
        border-top: 1px solid #9b9b9b;
        border-right: 1px solid #9b9b9b;
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg); }
      .breadcrumbs ul li:last-child:before {
        display: none; }
    .breadcrumbs ul a {
      font-size: 14px;
      color: #9b9b9b;
      text-transform: uppercase;
      font-family: "Roboto-Medium", sans-serif; }

.form-group {
  margin-bottom: 30px; }
  .form-group label {
    display: block;
    color: #373a3c;
    font-size: 16px;
    margin-bottom: 7px; }
  .form-group-help {
    margin-top: 7px;
    font-size: 13px;
    color: #818a91;
    line-height: 1.48; }

.form-control {
  padding: 7px 16px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 410px;
  width: 100%;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  outline: none; }
  .form-control:focus {
    border-color: #66afe9; }

textarea.form-control {
  width: 100%;
  max-width: 444px;
  height: 135px; }
  textarea.form-control.small {
    height: 34px; }

.radio {
  margin-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .radio input {
    display: none; }
  .radio input + label {
    font-size: 14px;
    color: #000;
    padding-left: 32px;
    position: relative;
    cursor: pointer; }
    .radio input + label:before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      border: 1px solid #dddddd;
      left: 0;
      top: -4px;
      border-radius: 100%;
      background: #fff; }
  .radio input:checked + label {
    color: #007bff; }
    .radio input:checked + label:before {
      border: 6px solid #007bff; }
  .radio a svg {
    height: 24px;
    width: 24px;
    fill: #007bff; }

.select {
  height: 32px;
  line-height: 30px;
  max-width: 410px;
  width: 100%;
  padding-left: 16px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  float: none; }
  .select:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    border-color: #373a3c transparent transparent transparent;
    -ms-transform: rotate(0deg) translateY(-50%);
        transform: rotate(0deg) translateY(-50%);
    right: 8px; }
  .select.open:after {
    -ms-transform: rotate(0deg) translateY(-50%);
        transform: rotate(0deg) translateY(-50%); }
  .select .list {
    min-width: 100%; }

.checkbox input {
  display: none; }
  .checkbox input + label {
    position: relative;
    font-size: 16px;
    padding-right: 96px;
    cursor: pointer;
    display: block; }
    .checkbox input + label:before {
      content: '';
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      right: 0;
      width: 76px;
      height: 33px;
      border: 1px solid #ccc;
      border-radius: 22px;
      background: #fff;
      transition: 0.3s ease-in-out; }
    .checkbox input + label:after {
      content: '';
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      right: 47px;
      width: 25px;
      height: 25px;
      background: #ccc;
      border-radius: 100%;
      transition: 0.3s ease-in-out; }
  .checkbox input:checked + label:before {
    border-color: #f6931d; }
  .checkbox input:checked + label:after {
    background: #f6931d;
    right: 4px; }

.archive-btns {
  display: -ms-flexbox;
  display: flex; }
  .archive-btns a {
    display: inline-block;
    width: 200px;
    text-align: center;
    border: 1px solid #757575;
    padding: 10px 0;
    font-size: 13px;
    color: #757575;
    text-transform: uppercase;
    font-family: 'Roboto-Medium', sans-serif;
    letter-spacing: 0.2px; }
    .archive-btns a.active {
      background: #757575;
      color: #fff; }
    .archive-btns a:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .archive-btns a:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }

.checked-block {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.24);
  background: #fff;
  padding: 10px 0;
  -ms-flex-align: center;
      align-items: center;
  transition: 0.3s ease-in-out;
  z-index: 9999;
  visibility: hidden;
  opacity: 0; }
  .checked-block__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
  .checked-block__right {
    width: 300px; }
  .checked-block__count {
    padding-left: 40px;
    width: 300px; }
    .checked-block__count p {
      position: relative;
      font-size: 14px;
      color: #9e9e9e;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      padding-left: 25px; }
      .checked-block__count p:before {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        border: 2px solid #e0e0e0;
        border-radius: 100%; }
      .checked-block__count p span {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 18px;
        height: 18px;
        border-radius: 3px;
        background: #5db200;
        color: #fff;
        font-size: 12px;
        margin-right: 10px; }
  .checked-block .orange-btn {
    font-size: 12px;
    padding: 7.5px 0;
    width: 110px;
    text-align: center;
    border-radius: 3px; }
  .checked-block.open {
    visibility: visible;
    opacity: 1; }

.politics {
  padding: 50px 0; }
  .politics h2 {
    text-align: center; }
  .politics__block {
    margin-bottom: 30px; }
    .politics__block h3 {
      font-size: 24px;
      margin-bottom: 5px; }
    .politics__block p {
      line-height: 1.6;
      margin-bottom: 10px; }
    .politics__block ul {
      line-height: 1.6;
      padding-left: 40px;
      margin-bottom: 10px; }
      .politics__block ul li {
        margin-bottom: 5px; }

.pagination {
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
  background: #fff; }
  .pagination__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    .pagination__list li:first-child a {
      border-left: none; }
    .pagination__list li {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 42px;
      height: 42px;
      border-left: 1px solid #eceeef;
      background: #fff;
      color: #9b9b9b;
      position: relative; }
      .pagination__list li.active {
        color: #fff;
        background: #f6931d; }
  .pagination__prev:before {
    position: absolute;
    content: '';
    top: 14px;
    left: 17px;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #9b9b9b;
    border-left: 2px solid #9b9b9b;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
  .pagination__next:before {
    position: absolute;
    content: '';
    top: 14px;
    right: 17px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #9b9b9b;
    border-right: 2px solid #9b9b9b;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg); }

.password-input {
  position: relative; }
  .password-input .form-control {
    padding-right: 40px; }
  .password-input a {
    position: absolute;
    top: 50%;
    right: 10px;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .password-input a svg {
      width: 24px;
      height: 24px;
      fill: #757678;
      vertical-align: middle; }

.header {
  background-color: #000000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 17px 253px 17px 143px;
  /*padding-right: 20px;*/
}
  .header__list {
    display: -ms-flexbox;
    display: flex; }
    .header__list > li {
      margin: 0 24px;
      position: relative; }
      .header__list > li:hover .header__list-dropdown {
        display: block; }
      .header__list > li > a {
        font-size: 16px;
        color: #fff; }
        .header__list > li > a:hover {
          color: #f6931d; }
    .header__list-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      min-width: 150px;
      z-index: 99;
      box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.12); }
      .header__list-dropdown a {
        display: block;
        padding: 10px 15px;
        color: #000; }
        .header__list-dropdown a:hover {
          color: #f6931d; }
  .header__social {
    display: -ms-flexbox;
    display: flex; }
    .header__social li {
      margin-left: 20px; }
    .header__social a:hover svg {
      opacity: 1; }
    .header__social svg {
      height: 20px;
      width: 20px;
      fill: #fff;
      opacity: 0.6;
      vertical-align: middle;
      transition: 0.3s ease-in-out; }

.footer__social {
  display: -ms-flexbox;
  display: flex; }
.footer__social li {
  margin-right: 20px;
}
.footer__social a:hover svg {
  opacity: 1; }
.footer__social svg {
  height: 20px;
  width: 20px;
  fill: #fff;
  opacity: 0.6;
  vertical-align: middle;
  transition: 0.3s ease-in-out; }


  .header__profile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .header__profile-link {
      color: #f6931d; }
  .header__alert {
    position: relative; }
    .header__alert:hover .header__alert-info {
      display: block; }
    .header__alert-icon {
      margin-right: 30px;
      position: relative;
      cursor: pointer; }
      .header__alert-icon span {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 16px;
        height: 16px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        color: #fff;
        border-radius: 100%;
        background: #fb3a2f;
        font-size: 11px; }
      .header__alert-icon svg {
        width: 20px;
        height: 20px;
        fill: #fff; }
    .header__alert-info {
      position: absolute;
      top: 100%;
      left: -60px;
      width: 470px;
      background: #fff;
      box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.17);
      border-radius: 4px;
      overflow: hidden;
      z-index: 9999;
      display: none; }
    .header__alert-head {
      padding: 14px 30px;
      background: #f1f1f1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .header__alert-head h2 {
        color: #222222;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 16px; }
      .header__alert-head svg {
        width: 15px;
        height: 15px;
        vertical-align: middle; }
      .header__alert-head .staff_table-more-btn ul {
        width: 200px; }
    .header__alert-single {
      padding: 25px 15px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      border-bottom: 1px solid #ccc; }
      .header__alert-single:last-child {
        border: none; }
      .header__alert-single-img {
        width: 40px; }
      .header__alert-single-text {
        padding-left: 20px;
        width: calc(100% - 40px); }
        .header__alert-single-text p {
          margin-bottom: 10px;
          line-height: 1.6; }
      .header__alert-single-date {
        color: #757575;
        font-size: 12px;
        width: 100%;
        padding-left: 60px; }

.header-burger {
  display: none; }

.header-mobile {
  display: none; }

.footer__partners {
  padding: 25px 0;
  background: #343434;
  border-bottom: 1px solid #5c5c5c; }
  .footer__partners-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .footer__partners-single {
    margin: 0 30px; }

.footer {
  background: #222222;
  padding-top: 50px;
  padding-bottom: 20px; }
  .footer_logo {
    margin-bottom: 31px; }
  .footer_copyright {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5); }
  .footer_right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .footer_nav {
    width: 20%; }
    .footer_nav h2 {
      border-bottom: 1px solid #fff;
      padding-bottom: 15px;
      margin-bottom: 20px; }
      .footer_nav h2 a {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase; }
  .footer_list li {
    margin-bottom: 10px; }
  .footer_list a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5); }
    .footer_list a:hover {
      text-decoration: underline; }

.social-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .social-list a {
    opacity: 0.6; }
    .social-list a:hover {
      opacity: 1; }
  .social-list svg {
    width: 20px;
    height: 20px;
    fill: #fff; }

.welcome {
  overflow: hidden;
  background: url("../img/welcome-bg.jpg") no-repeat 100% 100%;
  /*background-size: 63%;*/
  background-size: contain;
  padding: 55px 0 60px; }
  .welcome__title {
    font-size: 48px; }
  .welcome__info {
    max-width: 560px;
    border: 2px solid #f6931d;
    padding: 30px;
    margin-bottom: 80px;
    border-radius: 8px;
    text-align: center; }
    .welcome__info p {
      font-size: 26px;
      color: #f6931d;
      font-family: 'Roboto-Bold', sans-serif;
      line-height: 1.6; }
  .welcome_block .big-title {
    margin-bottom: 60px; }
  .welcome_block .yellow-title {
    margin-bottom: 30px; }
  .welcome_text {
    font-size: 24px;
    line-height: 1.83;
    margin-bottom: 70px; }
  .welcome_img img {
    margin-top: -150px; }
  .welcome .orange-btn {
    width: 100%;
    max-width: 350px;
    text-align: center; }

.home-performers {
  padding: 50px 0;
  background: #77787a;
  text-align: center;
  color: #fff; }
  .home-performers__title {
    font-size: 36px;
    font-family: 'Roboto-Medium', sans-serif;
    margin-bottom: 10px; }
  .home-performers__text {
    max-width: 830px;
    margin: 0 auto;
    font-size: 30px; }

.home-staff {
  padding-top: 15px; }
  .home-staff .row {
    -ms-flex-align: center;
        align-items: center; }
  .home-staff__image {
    float: right; }
  .home-staff__title {
    font-size: 35px;
    font-family: 'Roboto-Bold', sans-serif;
    /*margin-bottom: 100px;*/
    text-align: right; }
  .home-staff .orange-btn {
    width: 100%;
    text-align: center; }

.home-staff__title-hint{
  margin-bottom: 100px;
  text-align: right;
}

.home-save {
  padding: 34px 0;
  background: #f1f1f1; }
  .home-save__text {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 30px;
    text-align: center; }

.home-about {
  padding-top: 40px; }
  .home-about__left {
    text-align: left;
    margin-bottom: 60px; }
  .home-about__right {
    text-align: right;
    margin-bottom: 60px; }
  .home-about__title {
    font-size: 24px;
    font-family: 'Roboto-Bold', sans-serif;
    margin-bottom: 20px; }
  .home-about__text {
    font-size: 18px;
    color: #4a4a4a;
    line-height: 1.7; }
  .home-about__info {
    text-align: center; }
    .home-about__info-image {
      max-width: 100%; }
    .home-about__info-title {
      color: #030303;
      font-size: 22px;
      letter-spacing: -0.5px;
      padding: 34px 0;
      background: #fff;
      /*margin-top: -118px;*/
      position: relative; }

.home-services {
  padding: 40px 0; }
  .home-services__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .home-services__single {
    width: 33.3333%;
    padding: 35px 40px;
    border-left: 1px solid #d8d8d8; }
    .home-services__single:last-child {
      border-right: 1px solid #d8d8d8; }
    .home-services__single-title {
      font-family: 'Roboto-Medium', sans-serif;
      font-size: 25px;
      margin-bottom: 24px; }
    .home-services__single-text {
      color: #757575;
      font-size: 14px;
      line-height: 1.6; }
  .home-services__info {
    padding: 60px 0;
    text-align: center; }
    .home-services__info p {
      font-size: 30px;
      font-family: 'Roboto-Bold', sans-serif;
      color: #f6931d; }
  .home-services__btn {
    text-align: center; }

.questions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .questions_dark, .questions_white {
    width: 50%;
    padding: 70px 105px 40px;
    text-align: center; }
    .questions_dark .main-title, .questions_white .main-title {
      margin-bottom: 25px; }
    .questions_dark p, .questions_white p {
      font-size: 19px;
      line-height: 1.63;
      margin-bottom: 20px; }
    .questions_dark .orange-btn,
    .questions_dark .black-btn, .questions_white .orange-btn,
    .questions_white .black-btn {
      max-width: 235px;
      width: 100%; }
  .questions_dark {
    background: #222222; }
    .questions_dark p {
      color: #d8d8d8; }
  .questions_white {
    background: #f3f3f4; }
  .questions_answer {
    margin-bottom: 28px; }
    .questions_answer p {
      text-align: left; }

.about__info {
  padding: 70px 0; }
  .about__info p {
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto-Light', sans-serif; }

.about__tagline {
  text-align: center;
  background: #f6931d;
  padding: 28px 0; }
  .about__tagline p {
    font-size: 36px;
    color: #fff;
    font-family: 'Roboto-Bold', sans-serif; }

.benefits {
  padding-top: 70px; }
  .benefits .owl-item.center .benefits_single-content {
    border-color: transparent; }
  .benefits_block {
    margin-top: -60px; }
  .benefits__carousel {
    position: relative; }
  .benefits__arrows {
    position: absolute;
    top: 60px;
    left: 100%;
    display: block;
    width: 96px;
    margin-left: 10px;
    z-index: 9999;
    font-size: 0; }
  .benefits__arrow {
    width: 48px;
    height: 48px;
    border: 1px solid #ccc;
    position: relative;
    -ms-flex: 1;
        flex: 1;
    display: inline-block; }
    .benefits__arrow:before {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px; }
  .benefits__prev {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
    .benefits__prev:before {
      border-bottom: 1px solid #9b9b9d;
      border-left: 1px solid #9b9b9d;
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      top: 16px;
      left: 20px; }
  .benefits__next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
    .benefits__next:before {
      border-top: 1px solid #9b9b9d;
      border-right: 1px solid #9b9b9d;
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      top: 16px;
      right: 20px; }
  .benefits_single {
    transition: 0.3s ease-in-out;
    position: relative; }
    .benefits_single-wrap {
      padding: 60px 0px; }
    .benefits_single-content {
      padding: 30px 10px;
      position: relative;
      z-index: 10;
      border: 1px solid #d8d8d8;
      border-top: none;
      border-bottom: none;
      height: 320px; }
      .benefits_single-content:hover:before {
        height: calc(100% + 60px);
        margin-top: -30px;
        margin-bottom: -30px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
        opacity: 1; }
      .benefits_single-content:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        transition: all 0.3s ease-in-out;
        opacity: 0; }
    .benefits_single h2 {
      font-size: 25px;
      font-family: "Roboto-Medium", sans-serif;
      margin-bottom: 20px;
      position: relative; }
    .benefits_single p {
      font-size: 15px;
      color: rgba(74, 74, 74, 0.79);
      line-height: 1.53;
      position: relative; }
    .benefits_single-active {
      width: 40%;
      padding: 50px 80px;
      box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.33); }
    .benefits_single svg {
      width: 30px;
      height: 30px;
      fill: #4a4a4a;
      margin-bottom: 20px;
      position: relative; }

.apps {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f3f3f4; }
  .apps_info h3 {
    font-size: 32px;
    font-family: "Roboto-Medium", sans-serif;
    margin-bottom: 50px; }
  .apps_info .big-title {
    margin-bottom: 50px; }
  .apps_info p {
    font-size: 24px;
    margin-bottom: 50px; }
  .apps_info-btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .apps_info-btns a {
      margin-right: 25px; }
  .apps_info-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .apps_info-link {
    margin-right: 26px;
    text-align: center; }
    .apps_info-link > img {
      margin-bottom: 20px; }
    .apps_info-link a {
      display: block; }
  .apps_bitmap {
    margin-top: -90px;
    max-width: 570px;
    position: relative;
    z-index: 1; }

.homepage-apps {
  margin-top: -60px; }

.monic-head {
  background: #fff;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.12);
  height: 70px; }
  .monic-head ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    .monic-head ul li {
      margin: 0 25px; }
    .monic-head ul a {
      display: block;
      position: relative;
      font-size: 18px;
      color: #000;
      padding: 25px 0; }
      .monic-head ul a:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 5px;
        width: 0;
        background: #f6931d;
        transition: 0.3s ease-in-out; }
      .monic-head ul a:hover:before {
        width: 100%; }
      .monic-head ul a.active:before {
        width: 100%; }

.about_monic {
  background: url("../img/459.jpg") no-repeat center top;
  background-size: cover; }
  .about_monic h2 {
    margin-top: 50px;
    font-size: 36px;
    color: #000;
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 50px; }
  .about_monic h3 {
    font-size: 36px;
    color: #000;
    font-family: "Roboto-Light", sans-serif;
    margin-bottom: 24px; }
  .about_monic p {
    font-size: 17px;
    line-height: 1.94;
    color: #000;
    margin-bottom: 50px; }
  .about_monic-btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 50px; }
    .about_monic-btns .more {
      color: #000;
      font-family: "Roboto-Regular", sans-serif; }
      .about_monic-btns .more:before {
        border-top: 1px solid #000;
        border-right: 1px solid #000; }

.how-it-works {
  background: rgba(60, 61, 65, 0.7);
  padding: 25px 0; }
  .how-it-works-steps {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    .how-it-works-steps-single {
      text-align: center;
      position: relative;
      width: 25%; }
      .how-it-works-steps-single:last-child:before {
        display: none; }
      .how-it-works-steps-single:before {
        content: '';
        position: absolute;
        top: 60px;
        right: -16px;
        width: 32px;
        height: 21px;
        background: url("../img/right-arrow.svg") no-repeat center;
        background-size: cover; }
      .how-it-works-steps-single span {
        display: block;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 56px;
        color: #fff;
        width: 130px;
        height: 130px;
        border: 2px solid #fff;
        border-radius: 100%;
        line-height: 130px;
        margin: 0 auto;
        margin-bottom: 20px; }
      .how-it-works-steps-single h3 {
        font-size: 24px;
        color: #f3f3f4; }

.what-we-give {
  padding-top: 80px; }
  .what-we-give h2 {
    font-size: 46px;
    font-family: "Roboto-Medium", sans-serif;
    color: #000;
    text-align: center;
    margin-bottom: 50px; }
  .what-we-give-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    margin-bottom: 60px; }
    .what-we-give-list li {
      font-size: 18px;
      font-family: "Roboto-Medium", sans-serif;
      padding: 0 30px;
      margin-bottom: 60px;
      text-transform: uppercase;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: start;
          justify-content: flex-start; }
      .what-we-give-list li svg {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        fill: #f6931d; }
  .what-we-give img {
    width: 100%; }
  .what-we-give-training {
    background: #333;
    height: 314px; }
    .what-we-give-training a {
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
    .what-we-give-training p {
      font-size: 32px;
      color: #f6931d;
      padding-right: 70px;
      position: relative; }
      .what-we-give-training p:before {
        position: absolute;
        content: '';
        width: 42px;
        height: 42px;
        top: 50%;
        right: 0;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        border: 2px solid #f6931d;
        border-radius: 100%; }
      .what-we-give-training p:after {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        border-top: 2px solid #f6931d;
        border-right: 2px solid #f6931d;
        right: 16px;
        top: 50%;
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg); }

.about_promoter {
  background: url("../img/promoter-bg.jpg") no-repeat center top;
  background-size: cover; }
  .about_promoter-img {
    max-width: 100%;
    margin-top: 50px; }
  .about_promoter.about_monic p {
    margin-bottom: 250px; }

.monic_work {
  padding-top: 40px; }
  .monic_work-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .monic_work-img {
    width: 300px; }
    .monic_work-img img {
      width: 100%; }
  .monic_work-list {
    width: calc(50% - 150px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .monic_work-list li {
      font-size: 30px;
      text-align: center;
      font-family: "Roboto-Light", sans-serif;
      height: 102px; }

.promoter__info {
  padding: 130px 0;
  position: relative;
  overflow: hidden; }
  .promoter__info-video {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    left: 0;
    width: 100%;
    z-index: 5; }
  .promoter__info:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #222325);
    z-index: 10; }
  .promoter__info-inner {
    position: relative;
    z-index: 20; }
  .promoter__info p {
    font-size: 48px;
    color: #fff;
    font-family: "Roboto-Light", sans-serif;
    text-align: center; }

.promoter__about {
  background: #f1f1f1;
  padding: 60px 0; }
  .promoter__about p {
    font-size: 24px;
    font-family: "Roboto-Light", sans-serif;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 30px; }
  .promoter__about .promoter__about-bold {
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 0; }

.monic-apps {
  background: #757678;
  padding-top: 20px; }
  .monic-apps .row {
    -ms-flex-align: center;
        align-items: center; }
  .monic-apps__image {
    text-align: right; }
    .monic-apps__image img {
      max-width: 100%; }
  .monic-apps__title {
    font-size: 52px;
    color: #fff;
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 60px; }
  .monic-apps__text {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px; }
  .monic-apps__links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .monic-apps__link {
    text-align: center;
    margin-right: 26px; }
    .monic-apps__link img {
      margin-bottom: 20px; }
    .monic-apps__link a {
      display: block; }

.education {
  background: #ccc;
  padding: 60px 0;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .education__video {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    left: 0;
    width: 100%;
    z-index: 5; }
  .education:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #222325);
    z-index: 10; }
  .education .main-title {
    margin-bottom: 100px; }
  .education__inner {
    position: relative;
    z-index: 20; }
  .education__play {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 100px; }
    .education__play span {
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 22.5px 0 22.5px 50px;
      border-color: transparent transparent transparent #fff; }
  .education__link {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    color: #f6931d;
    position: relative;
    padding-right: 50px; }
    .education__link:before {
      content: '';
      position: absolute;
      top: -7px;
      right: 0;
      width: 42px;
      height: 42px;
      border: 2px solid #f6931d;
      border-radius: 100%; }
    .education__link:after {
      content: '';
      position: absolute;
      top: 6px;
      right: 16px;
      border-top: 2px solid #f6931d;
      border-right: 2px solid #f6931d;
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      width: 15px;
      height: 15px; }

.about_promoter h2 {
  font-size: 48px; }

.not-found-1 {
  padding-top: 140px;
  padding-bottom: 400px;
  background: url("../img/593.jpg") no-repeat center;
  background-size: cover; }
  .not-found-1 h1 {
    font-size: 160px;
    color: #f6931d;
    font-family: "Roboto-Bold", sans-serif; }
  .not-found-1 h2 {
    font-size: 36px;
    color: #000;
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 16px; }
  .not-found-1 p {
    font-size: 18px;
    color: #4a4a4a;
    font-family: "Roboto-Medium", sans-serif;
    margin-bottom: 20px; }
  .not-found-1 a {
    font-size: 16px;
    color: #2a56ff; }
    .not-found-1 a:hover {
      text-decoration: underline; }

.not-found-2 {
  padding-top: 150px;
  padding-bottom: 400px;
  background: url("../img/593.jpg") no-repeat center;
  background-size: cover; }
  .not-found-2-block {
    display: -ms-flexbox;
    display: flex; }
  .not-found-2 h1 {
    font-size: 160px;
    color: #f6931d;
    font-family: "Roboto-Bold", sans-serif;
    -ms-transform: rotate(-90deg);
        transform: rotate(-90deg); }
  .not-found-2 h2 {
    font-size: 30px;
    color: #4a4a4a;
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 16px; }
  .not-found-2 p {
    font-size: 18px;
    color: #4a4a4a;
    font-family: "Roboto-Medium", sans-serif;
    margin-bottom: 20px; }
  .not-found-2 a {
    font-size: 16px;
    color: #2a56ff; }
    .not-found-2 a:hover {
      text-decoration: underline; }

.not-found-3 {
  padding-top: 70px;
  padding-bottom: 400px;
  background: url("../img/593.jpg") no-repeat center;
  background-size: cover; }
  .not-found-3 h1 {
    font-size: 160px;
    color: #f6931d;
    font-family: "Roboto-Bold", sans-serif; }
  .not-found-3 h2 {
    font-size: 30px;
    color: #4a4a4a;
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 16px; }
  .not-found-3 p {
    font-size: 18px;
    color: #4a4a4a;
    font-family: "Roboto-Medium", sans-serif;
    margin-bottom: 20px; }
  .not-found-3 a {
    font-size: 16px;
    color: #2a56ff; }
    .not-found-3 a:hover {
      text-decoration: underline; }

.not-found-4 {
  padding-top: 70px;
  padding-bottom: 400px;
  background: url("../img/593.jpg") no-repeat center;
  background-size: cover; }
  .not-found-4 h1 {
    font-size: 160px;
    color: #f6931d;
    font-family: "Roboto-Bold", sans-serif; }
  .not-found-4 h2 {
    font-size: 30px;
    color: #4a4a4a;
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 16px; }
  .not-found-4 p {
    font-size: 18px;
    color: #4a4a4a;
    font-family: "Roboto-Medium", sans-serif;
    margin-bottom: 20px; }
  .not-found-4 a {
    font-size: 16px;
    color: #2a56ff; }
    .not-found-4 a:hover {
      text-decoration: underline; }

.more-sect {
  padding-top: 70px; }
  .more-sect-list {
    margin-bottom: 40px; }
    .more-sect-list li {
      margin-bottom: 30px; }
    .more-sect-list a {
      font-size: 36px;
      color: #4a4a4a;
      font-family: "Roboto-Bold", sans-serif;
      position: relative; }
      .more-sect-list a:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background: #4a4a4a;
        transition: 0.3s ease-in-out; }
      .more-sect-list a:hover:before {
        width: 100%; }
  .more-sect .tab-list {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px; }
    .more-sect .tab-list a {
      display: block;
      width: 205px;
      text-align: center;
      font-size: 20px;
      color: #4a4a4a;
      font-family: "Roboto-Bold", sans-serif;
      padding: 10px 0;
      position: relative; }
      .more-sect .tab-list a:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: #e9e9e9; }
      .more-sect .tab-list a.active:before {
        background: #f6931d; }

.faq {
  padding-top: 50px;
  padding-bottom: 50px; }
  .faq .breadcrumbs {
    margin-bottom: 80px; }
  .faq-title {
    font-size: 36px;
    font-family: "Roboto-Medium", sans-serif;
    margin-bottom: 40px; }
  .faq-single {
    padding: 20px 0 50px;
    border-bottom: 1px solid #d8d8d8; }
    .faq-single h2 {
      font-size: 30px;
      font-family: "Roboto-Bold", sans-serif;
      margin-bottom: 20px; }
    .faq-single p {
      font-size: 20px;
      line-height: 1.5; }

.contacts {
  padding-top: 50px;
  padding-bottom: 50px; }
  .contacts .breadcrumbs {
    margin-bottom: 50px; }
  .contacts_logo {
    margin-bottom: 27px; }
  .contacts_title {
    font-size: 36px;
    font-family: "Roboto-Medium", sans-serif;
    margin-bottom: 40px; }
  .contacts_phone {
    font-size: 24px;
    font-family: "Roboto-Medium", sans-serif;
    margin-bottom: 26px; }
  .contacts_social {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 26px;
    color: #4a4a4a; }
  .contacts_address {
    font-size: 18px;
    line-height: 1.33;
    color: #4a4a4a; }

.feedback {
  padding: 50px 0; }
  .feedback .breadcrumbs {
    margin-bottom: 50px; }
  .feedback_info {
    font-size: 16px;
    color: #373a3c;
    line-height: 1.5;
    margin-bottom: 30px; }
    .feedback_info a {
      color: #4f70ff; }
      .feedback_info a:hover {
        text-decoration: underline; }
  .feedback .orange-btn {
    padding: 8px 30px;
    font-size: 16px; }

.contacts_map {
  width: 100%;
  margin-top: 40px; }
  .contacts_map iframe {
    width: 100%;
    height: 258px; }

.staff {
  padding: 100px 0; }
  .staff_branches p {
    color: #9b9b9b;
    font-size: 15px;
    margin-bottom: 30px; }
  .staff_branches-list {
    width: 200px;
    margin-bottom: 10px; }
    .staff_branches-list > li {
      padding: 12px 0;
      border-left: 1px solid #d8d8d8;
      padding-left: 12px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center; }
      .staff_branches-list > li > a {
        font-size: 18px;
        color: #666666;
        text-transform: uppercase; }
      .staff_branches-list > li svg {
        height: 15px;
        width: 15px;
        fill: #666666; }
      .staff_branches-list > li.active {
        border-color: #f6931d; }
        .staff_branches-list > li.active > a {
          color: #000;
          font-family: "Roboto-Medium", sans-serif; }
  .staff_branches-add {
    font-size: 16px;
    color: #8e8e93;
    padding: 10px 25px;
    display: inline-block;
    border: 1px solid #8e8e93;
    border-radius: 4px; }
    .staff_branches-add:hover {
      background: #8e8e93;
      color: #fff; }
  .staff_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px; }
    .staff_table td {
      font-size: 16px;
      padding: 12px 10px;
      border-bottom: 1px solid #d8d8d8; }
      .staff_table td svg {
        margin-top: 4px;
        height: 15px;
        width: 15px;
        fill: #666666; }
    .staff_table-more {
      text-align: right;
      width: 50px; }
      .staff_table-more-btn {
        position: relative;
        cursor: pointer; }
        .staff_table-more-btn:hover ul {
          display: block; }
        .staff_table-more-btn ul {
          position: absolute;
          top: 0;
          right: 100%;
          background: #fff;
          padding: 16px 16px 6px;
          border-radius: 3px;
          box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
          text-align: left;
          display: none;
          cursor: auto; }
          .staff_table-more-btn ul li {
            margin-bottom: 10px; }
          .staff_table-more-btn ul a {
            font-size: 14px;
            color: #000; }
            .staff_table-more-btn ul a:hover {
              text-decoration: underline; }
  .staff_button {
    text-align: right; }
    .staff_button .orange-btn {
      padding: 10px 20px;
      font-size: 16px; }
      .staff_button .orange-btn span {
        font-family: "Roboto-Light", sans-serif;
        margin-right: 10px;
        font-size: 16px;
        display: inline-block;
        vertical-align: middle; }

.add-brahch-popup {
  width: 730px;
  background: #fff;
  margin: 0 auto;
  padding: 32px; }
  .add-brahch-popup h2 {
    font-size: 24px;
    color: #212529;
    margin-bottom: 50px; }
  .add-brahch-popup form {
    padding: 0 85px; }
    .add-brahch-popup form .form-control {
      max-width: 100%; }
  .add-brahch-popup-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .add-brahch-popup-buttons .grey-btn,
    .add-brahch-popup-buttons .orange-btn {
      font-size: 16px;
      font-family: "Roboto-Regular", sans-serif;
      width: 235px;
      text-align: center; }

.add-staff-popup {
  width: 730px;
  background: #fff;
  margin: 0 auto;
  padding: 32px; }
  .add-staff-popup h2 {
    font-size: 24px;
    color: #212529;
    margin-bottom: 50px; }
  .add-staff-popup form {
    padding: 0 85px; }
    .add-staff-popup form .form-control {
      max-width: 100%; }
  .add-staff-popup-blocks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .add-staff-popup-left {
    width: 170px; }
  .add-staff-popup-right {
    width: 300px; }
  .add-staff-popup-buttons {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .add-staff-popup-buttons .grey-btn,
    .add-staff-popup-buttons .orange-btn {
      font-size: 16px;
      font-family: "Roboto-Regular", sans-serif;
      width: 235px; }

.change-staff-popup {
  width: 1110px;
  background: #fff;
  margin: 0 auto;
  padding: 32px; }
  .change-staff-popup h2 {
    font-size: 24px;
    color: #212529;
    margin-bottom: 50px; }
  .change-staff-popup-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .change-staff-popup .form-group {
    width: 230px; }
  .change-staff-popup .form-control {
    width: 100%; }
  .change-staff-popup-buttons {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: end;
        justify-content: flex-end; }
    .change-staff-popup-buttons .grey-btn,
    .change-staff-popup-buttons .orange-btn {
      font-size: 16px;
      font-family: "Roboto-Regular", sans-serif;
      width: 235px;
      margin-left: 20px; }

.profile {
  padding: 70px 0; }
  .profile_head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 25px; }
    .profile_head img {
      margin-right: 10px;
      max-width: 120px; }
    .profile_head h2 {
      font-size: 22px;
      font-family: "Roboto-Medium", sans-serif; }
  .profile_info p {
    font-size: 16px;
    line-height: 2.31; }
  .profile_info-director {
    margin-top: 30px; }
  .profile_deposit span {
    font-size: 13px;
    color: #818a91;
    display: block;
    margin-bottom: 6px; }
  .profile_deposit-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.12);
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 70px; }
    .profile_deposit-info a {
      background: #f6931d;
      display: block;
      width: 64px;
      padding: 11px 0;
      text-align: center; }
      .profile_deposit-info a:hover {
        background: #ffa942; }
    .profile_deposit-info svg {
      height: 30px;
      fill: #fff; }
    .profile_deposit-info p {
      font-size: 36px;
      padding-left: 12px; }
  .profile-orange-btn {
    margin-top: 50px;
    font-size: 16px;
    padding: 10px 20px; }

.add-deposit-popup {
  width: 100%;
  max-width: 730px;
  background: #fff;
  margin: 0 auto;
  padding: 32px; }
  .add-deposit-popup h2 {
    font-size: 24px;
    color: #212529;
    margin-bottom: 50px; }
  .add-deposit-popup .form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .add-deposit-popup .form-group label {
      margin-bottom: 0;
      font-size: 16px;
      color: #373a3c;
      margin-right: 20px; }
    .add-deposit-popup .form-group .form-control {
      max-width: 160px; }
  .add-deposit-popup-buttons {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 0 80px; }
    .add-deposit-popup-buttons .grey-btn,
    .add-deposit-popup-buttons .orange-btn {
      font-size: 16px;
      font-family: "Roboto-Regular", sans-serif;
      width: 235px; }

.login {
  padding: 90px 0;
  overflow: hidden; }
  .login_title {
    font-size: 36px;
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 30px; }
  .login_form {
    max-width: 350px; }
  .login .forgot-pass {
    text-align: right;
    margin-bottom: 30px; }
    .login .forgot-pass a {
      font-size: 16px;
      color: #4f70ff; }
      .login .forgot-pass a:hover {
        text-decoration: underline; }
  .login .orange-btn {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px; }
  .login .no-account {
    text-align: right;
    font-size: 16px;
    color: #999999;
    margin-bottom: 90px; }
    .login .no-account a {
      color: #4f70ff; }
      .login .no-account a:hover {
        text-decoration: underline; }
  .login_social {
    text-align: center;
    max-width: 350px; }
    .login_social p {
      font-size: 16px;
      color: #999999;
      margin-bottom: 20px; }
    .login_social-list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center; }
      .login_social-list li {
        margin: 0 15px; }
  .login .checkbox-signup input {
    display: none; }
  .login .checkbox-signup   label > input[type="checkbox"]{
    font-size: 16px;
    color: #8e8e93;
    margin-bottom: -17px;
    display: block;
    padding-left: 20px;
    position: relative;
    cursor: pointer; }
    .login .checkbox-signup  label:before  {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 14px;
      height: 14px;
      border-radius: 2px;
      border: 1px solid #8e8e93; }
    .login .checkbox-signup input + label a {
      color: #0072db; }
      .login .checkbox-signup input + label a:hover {
        text-decoration: underline; }
  .login .checkbox-signup input:checked + label:after {
    position: absolute;
    content: '';
    left: 2px;
    top: 3px;
    width: 10px;
    height: 5px;
    border-top: 1px solid #8e8e93;
    border-right: 1px solid #8e8e93;
    -ms-transform: rotate(135deg);
        transform: rotate(135deg); }
  .login-img {
    height: 550px; }

.add-code-popup {
  max-width: 566px;
  width: 100%;
  background: #fff;
  padding: 32px;
  margin: 0 auto; }
  .add-code-popup h2 {
    font-size: 24px;
    color: #212529;
    margin-bottom: 50px; }
  .add-code-popup form {
    text-align: center; }

.signup_form p {
  color: #373a3c;
  font-size: 16px;
  margin-bottom: 20px; }

.signup_form .radio {
  max-width: 220px; }

.signup_form-name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 18px; }
  .signup_form-name input:first-child {
    width: 95%; }
  .signup_form-name input:last-child {
    width: 39%; }

.info-popup {
  max-width: 566px;
  width: 100%;
  background: #fff;
  padding: 32px;
  margin: 0 auto; }
  .info-popup h2 {
    font-size: 24px;
    color: #212529;
    margin-bottom: 20px; }
  .info-popup-text {
    margin-bottom: 50px; }
  .info-popup p {
    font-size: 16px;
    line-height: 1.5;
    color: #212529; }

.signup_text {
  margin-bottom: 15px; }
  .signup_text p {
    font-size: 16px;
    line-height: 2.31;
    margin-bottom: 0; }

.signup_form .radio-address {
  width: 100%;
  max-width: 100%; }

.signup_form-block {
  max-width: 350px; }

.signup_form .file {
  margin-bottom: 80px; }
  .signup_form .file input {
    display: none; }
  .signup_form .file label {
    font-size: 13px;
    color: #818a91;
    padding-left: 90px;
    line-height: 1.48;
    position: relative;
    cursor: pointer; }
    .signup_form .file label:before {
      position: absolute;
      content: '+';
      left: 0;
      top: 50%;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      font-size: 40px;
      font-family: "Roboto-Light", sans-serif;
      background: #e6e6e6;
      width: 68px;
      height: 68px;
      border-radius: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }

.order {
  padding: 40px 0; }
  .order_header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 80px; }
    .order_header-btns {
      display: -ms-flexbox;
      display: flex; }
      .order_header-btns a {
        padding: 12px 20px;
        font-size: 13px;
        color: #f6931d;
        border: 1px solid #f6931d;
        background: #fff;
        width: 110px;
        text-align: center; }
        .order_header-btns a.active {
          background: #f6931d;
          color: #fff; }
  .order .overflow-table {
    margin-bottom: 50px; }
  .order_list {
    width: 100%;
    border-collapse: collapse; }
    .order_list td {
      border-bottom: 1px solid #d8d8d8;
      padding: 9px 20px;
      font-size: 14px; }
      .order_list td svg {
        height: 15px;
        width: 15px; }
    .order_list .date {
      margin-bottom: 3px; }
    .order_list .time {
      font-size: 12px;
      opacity: 0.5; }
    .order_list-input {
      max-width: 150px; }
    .order_list-more {
      text-align: right; }
      .order_list-more svg {
        margin-top: 4px;
        fill: rgba(0, 0, 0, 0.54); }
    .order_list-button {
      text-align: right; }
      .order_list-button .orange-btn {
        padding: 8px 20px; }
        .order_list-button .orange-btn span {
          font-family: "Roboto-Light", sans-serif;
          margin-right: 10px;
          font-size: 30px;
          display: inline-block;
          vertical-align: middle; }
    .order_list-bottom {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-align: center;
          align-items: center; }
      .order_list-bottom-left,
      .order_list-bottom .orange-btn {
        width: 180px; }
      .order_list-bottom .orange-btn {
        padding: 10px 0;
        text-align: center;
        font-size: 16px; }
  .order_time {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .order_time svg {
      margin-right: 5px;
      fill: #f6931d; }
    .order_time span {
      margin-top: 2px; }

.order_new-title {
  font-size: 30px;
  color: #4a4a4a;
  font-family: "Roboto-Bold", sans-serif;
  margin-bottom: 30px; }

.order_new-block {
  padding: 30px;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  background: #fff;
  margin-bottom: 30px; }
  .order_new-block .form-control {
    max-width: 100%; }
  .order_new-block .select {
    max-width: 100%; }
  .order_new-block-dates {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .order_new-block-dates .form-group {
      width: 31%; }

.order_new-form .form-control {
  max-width: 100%; }

.order_new-form .select {
  max-width: 100%; }

.order_new-form .radios {
  margin-top: 30px; }

.order_new-form .orange-btn {
  width: 100%;
  text-align: center; }

.order_new-text {
  font-size: 16px;
  margin-bottom: 10px; }

.order_new-price {
  font-size: 36px;
  margin-bottom: 28px; }

.order_new-info {
  font-size: 12px;
  color: #9d9d9d;
  line-height: 1.92; }

.order .checkbox {
  text-align: right;
  margin-bottom: 40px;
  margin-left: auto; }

.input-has-icon {
  display: block;
  position: relative; }
  .input-has-icon:before {
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    border-left: 1px solid #ccc; }
  .input-has-icon.calendar:before {
    background: url("../img/calendar.svg") no-repeat center;
    background-size: 50%; }
  .input-has-icon.time:before {
    background: url("../img/clock.svg") no-repeat center;
    background-size: 50%; }

.order_hide {
  display: none; }
  .order_hide h2 {
    font-size: 24px;
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 20px; }

.order__check {
  background: #fff;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.17);
  width: 255px;
  margin-top: 63px; }
  .order__check-single {
    padding: 10px 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
  .order__check-title {
    -ms-flex: 1;
        flex: 1;
    font-size: 12px;
    color: #9d9d9d; }
  .order__check-price {
    -ms-flex: 1;
        flex: 1;
    text-align: right;
    font-size: 28px;
    color: #000; }
    .order__check-price span {
      font-size: 18px; }
  .order__check-full {
    border-top: 1px dashed #d2d2d2;
    background: #fbfbfb; }
  .order__check-fixed {
    position: fixed;
    top: 10px;
    z-index: 9999;
    margin-top: 0; }

.order-new__info {
  margin-bottom: 40px; }
  .order-new__info-single {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 15px; }
  .order-new__info-title {
    width: 170px;
    text-align: right;
    padding-right: 20px;
    color: #9b9b9b; }
  .order-new__info-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .order-new__info-text p {
      color: #000; }
    .order-new__info-text a {
      font-size: 12px;
      display: inline-block;
      width: 95px;
      text-align: center;
      padding: 5px 0;
      color: #f6931d;
      border: 1px solid #f6931d;
      border-radius: 3px;
      margin-left: 50px; }
      .order-new__info-text a:hover {
        color: #fff;
        background: #f6931d; }

.order-new__btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .order-new__btns a {
    display: inline-block;
    margin: 0 10px;
    color: #9b9b9b;
    position: relative;
    padding-left: 15px; }
    .order-new__btns a:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 10px;
      height: 10px;
      border-bottom: 1px solid #9b9b9b;
      border-left: 1px solid #9b9b9b;
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      transition: 0.3s ease-in-out; }
  .order-new__btns .orange-btn {
    margin: 0 10px; }

.order-new__error {
  width: 100%;
  text-align: center;
  border: 1px solid #ff0000;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 4px; }
  .order-new__error p {
    color: #ff0000;
    line-height: 1.6; }

.new-order__map {
  background: #ccc;
  width: 100%;
  height: 235px;
  margin-bottom: 30px; }

.order-map {
  position: relative;
  height: 600px; }
  .order-map .order_header {
    -ms-flex-pack: end;
        justify-content: flex-end; }
    .order-map .order_header-btns {
      position: relative; }

#map {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.info-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .info-content-title {
    font-size: 17px;
    color: #4a4a4a;
    font-family: "Roboto-Bold", sans-serif;
    width: 160px;
    margin-right: 20px; }
    .info-content-title span {
      display: block; }
  .info-content-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-right: 20px; }
    .info-content-text-single {
      width: 215px; }
      .info-content-text-single p {
        font-size: 14px;
        color: rgba(74, 74, 74, 0.79);
        line-height: 1.67; }
  .info-content-count {
    width: 20%;
    text-align: center; }
    .info-content-count-all {
      display: -ms-flexbox;
      display: flex;
      width: 75px;
      height: 75px;
      border: 1px solid #f6931d;
      border-radius: 4px;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-direction: column;
          flex-direction: column;
      margin: 0 auto;
      margin-bottom: 5px; }
      .info-content-count-all p {
        font-size: 40px;
        color: #f6931d; }
      .info-content-count-all span {
        font-size: 16px;
        color: #f6931d; }
    .info-content-count-text {
      font-size: 11px;
      color: #4a4a4a; }
  .info-content-column {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start; }
    .info-content-column .info-content-text {
      -ms-flex-direction: column;
          flex-direction: column; }
    .info-content-column .info-content-title span {
      display: initial; }
    .info-content-column .info-content-title {
      margin-bottom: 20px;
      margin-right: 0; }
    .info-content-column .info-content-text-single {
      margin-bottom: 20px; }
    .info-content-column-count p {
      font-size: 15px;
      color: rgba(74, 74, 74, 0.79);
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: end;
          align-items: flex-end; }
    .info-content-column-count span {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      width: 57px;
      height: 42px;
      border: 1px solid #f6931d;
      border-radius: 4px;
      font-size: 34px;
      color: #f6931d;
      margin: 0 10px; }

.gm-style-iw {
  max-width: 768px !important; }

.gm-style-iw-d {
  max-width: 750px !important; }

.news {
  padding: 100px 0; }
  .news__single {
    margin-bottom: 30px; }
  .news__image {
    width: 100%;
    margin-bottom: 50px; }
  .news__title {
    margin-bottom: 50px; }
    .news__title a {
      font-size: 24px;
      color: #000;
      font-family: "Roboto-Bold", sans-serif; }
      .news__title a:hover {
        text-decoration: underline; }
  .news__excerpt {
    color: #4a4a4a;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 50px; }
  .news__more {
    font-size: 18px;
    color: #000;
    position: relative;
    padding-right: 15px; }
    .news__more:after {
      content: '';
      position: absolute;
      top: 7px;
      right: 0;
      width: 10px;
      height: 10px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      transition: 0.3s ease-in-out; }
    .news__more:hover:after {
      right: -5px; }

.offer__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 40px 0; }
  .offer__head h2 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 30px;
    width: 250px; }
  .offer__head-filter {
    width: 250px;
    text-align: right; }
    .offer__head-filter a {
      display: inline-block;
      font-size: 12px;
      color: #f6931d;
      padding: 11px 0;
      width: 160px;
      border: 1px solid #f6931d;
      text-align: center;
      border-radius: 3px; }
      .offer__head-filter a:hover {
        background: #f6931d;
        color: #fff; }

.offer__inner {
  width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.17);
  overflow: hidden;
  margin-bottom: 50px; }
  .offer__inner-head {
    background: #757575;
    padding: 8px 25px; }
    .offer__inner-head p {
      color: #fff; }

.offer__single {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px;
  border-bottom: 1px solid #757575; }
  .offer__single:hover .offer__single-btns {
    opacity: 1; }
  .offer__single:last-child {
    border: none; }
  .offer__single-checkbox input {
    display: none; }
    .offer__single-checkbox input + label {
      width: 30px;
      height: 30px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 100%;
      display: block;
      cursor: pointer;
      position: relative; }
    .offer__single-checkbox input:checked + label {
      background: #f6931d;
      border-color: #f6931d; }
      .offer__single-checkbox input:checked + label:before {
        position: absolute;
        content: '';
        top: 5px;
        left: 10px;
        width: 8px;
        height: 16px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .offer__single-img {
    padding-left: 20px; }
    .offer__single-img img {
      width: 80px;
      height: 80px;
      border-radius: 8px; }
  .offer__single-info {
    padding-left: 20px;
    width: calc(100% - 240px); }
  .offer__single-name {
    font-size: 24px;
    color: #000;
    margin-bottom: 14px; }
  .offer__single-meta {
    display: -ms-flexbox;
    display: flex; }
    .offer__single-meta p {
      font-size: 14px;
      color: #9b9b9b;
      margin-right: 20px; }
      .offer__single-meta p span {
        color: #000; }
      .offer__single-meta p:last-child {
        margin-right: 0; }
  .offer__single-btns {
    width: 110px;
    transition: 0.3s ease-in-out;
    opacity: 0; }
    .offer__single-btns .white-btn,
    .offer__single-btns .orange-btn {
      width: 100%;
      font-size: 12px;
      padding: 7.5px 0;
      text-align: center; }
    .offer__single-btns .white-btn {
      margin-bottom: 15px;
      padding: 6.5px 0; }

.profile-popup {
  max-width: 600px;
  background: #fff;
  margin: 0 auto;
  padding: 20px 30px; }
  .profile-popup h2 {
    font-size: 24px;
    color: #212529;
    margin-bottom: 48px; }
  .profile-popup__info {
    display: -ms-flexbox;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 36px; }
  .profile-popup__image {
    padding: 0 15px;
    width: 50%; }
    .profile-popup__image img {
      width: 100%; }
  .profile-popup__bio {
    padding: 0 15px;
    width: 50%;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .profile-popup__name {
    font-size: 24px;
    color: #000;
    font-family: 'Roboto-Bold', sans-serif;
    margin-bottom: 13px; }
  .profile-popup__age {
    font-size: 16px;
    color: #757575;
    margin-bottom: 23px; }
  .profile-popup__rate {
    width: 93px;
    height: 93px;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    border: 1px solid #b8b8b8;
    margin: 0 auto;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 22px; }
    .profile-popup__rate-value {
      font-size: 30px;
      font-family: 'Roboto-Light', sans-serif; }
    .profile-popup__rate-label {
      font-size: 10px;
      color: #b8b8b8; }
  .profile-popup__orders {
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 0; }
  .profile-popup__order {
    width: 33.3333%; }
    .profile-popup__order-value {
      font-size: 18px;
      color: #4a4a4a;
      margin-bottom: 5px; }
    .profile-popup__order-title {
      font-size: 12px;
      color: #b8b8b8; }
  .profile-popup__characteristics {
    display: -ms-flexbox;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 25px; }
    .profile-popup__characteristics-single {
      width: 50%;
      padding: 0 15px; }
  .profile-popup__table {
    width: 100%; }
    .profile-popup__table tr td {
      padding: 5px 0; }
      .profile-popup__table tr td:first-child {
        color: #9b9b9b; }
  .profile-popup__btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .profile-popup__btns .grey-btn,
    .profile-popup__btns .orange-btn {
      width: 48%;
      text-align: center;
      padding: 14px 0;
      font-size: 16px;
      font-family: 'Roboto-Regular', sans-serif; }

.filter-popup {
  max-width: 600px;
  background: #fff;
  margin: 0 auto;
  padding: 20px 30px; }
  .filter-popup h2 {
    font-size: 24px;
    color: #212529;
    margin-bottom: 48px; }
  .filter-popup__radio {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 32px;
    margin-top: 24px; }
    .filter-popup__radio-single {
      width: 33.3333%; }
      .filter-popup__radio-single input {
        display: none; }
        .filter-popup__radio-single input + label {
          display: block;
          text-align: center;
          color: #fff;
          font-size: 12px;
          background: #9b9b9b;
          padding: 8px 0;
          cursor: pointer; }
        .filter-popup__radio-single input:checked + label {
          background: #f6931d; }
  .filter-popup .form-group label {
    font-size: 14px; }
  .filter-popup__range {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 43px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .filter-popup__range-label {
      width: 100%;
      margin-bottom: 10px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.51); }
    .filter-popup__range-value {
      width: 70px;
      text-align: right; }
    .filter-popup__range-slider {
      width: calc(100% - 80px); }
  .filter-popup .ui-widget.ui-widget-content {
    border-radius: 4px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.22);
    background-color: #d8d8d8;
    height: 5px;
    border: none;
    position: relative; }
  .filter-popup .ui-slider-horizontal .ui-slider-range {
    background: #f6931d;
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 4px; }
  .filter-popup .ui-state-default, .filter-popup .ui-widget-content .ui-state-default, .filter-popup .ui-widget-header .ui-state-default, .filter-popup .ui-button, .filter-popup html .ui-button.ui-state-disabled:hover, .filter-popup html .ui-button.ui-state-disabled:active {
    width: 20px;
    height: 20px;
    background: #fff;
    border: none;
    border-radius: 100%;
    border: 1px solid #ccc;
    outline: none;
    top: -8px;
    position: absolute;
    cursor: pointer;
    margin-left: -.6em; }
    .filter-popup .ui-state-default:before, .filter-popup .ui-widget-content .ui-state-default:before, .filter-popup .ui-widget-header .ui-state-default:before, .filter-popup .ui-button:before, .filter-popup html .ui-button.ui-state-disabled:hover:before, .filter-popup html .ui-button.ui-state-disabled:active:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: #f6931d; }

.customer-welcome {
  overflow: hidden; }
  .customer-welcome__title {
    margin-top: 30px;
    font-size: 48px;
    color: #000;
    font-family: 'Roboto-Bold', sans-serif;
    margin-bottom: 35px; }
  .customer-welcome__text {
    max-width: 519px;
    font-size: 24px;
    line-height: 1.83;
    margin-bottom: 35px; }
  .customer-welcome__info {
    max-width: 593px;
    font-size: 30px;
    color: #f6931d;
    font-family: 'Roboto-Medium', sans-serif;
    margin-bottom: 20px; }

.customer-work {
  padding: 45px 0;
  background: #757575; }
  .customer-work .main-title {
    margin-bottom: 90px; }
  .customer-work__list {
    position: relative;
    margin-bottom: 40px; }
    .customer-work__list:before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #fff; }
    .customer-work__list ul {
      display: -ms-flexbox;
      display: flex; }
      .customer-work__list ul li {
        width: 25%;
        text-align: center;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        padding-top: 32px;
        position: relative; }
        .customer-work__list ul li:before {
          position: absolute;
          content: '';
          top: 0;
          left: 50%;
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
          width: 15px;
          height: 15px;
          background: #fff;
          border-radius: 100%; }
  .customer-work__inner {
    max-width: 600px;
    margin: 0 auto;
    text-align: center; }
  .customer-work__info {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 45px; }
  .customer-work__btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .customer-work__btns .orange-btn,
    .customer-work__btns .black-btn {
      width: 48%; }

.customer-about {
  padding: 50px 0; }
  .customer-about__title {
    font-size: 24px;
    font-family: 'Roboto-Bold', sans-serif;
    margin-bottom: 15px; }
  .customer-about__text {
    font-size: 18px;
    color: #4a4a4a;
    line-height: 1.78; }

.customer-opportunities {
  padding: 40px 0; }
  .customer-opportunities__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .customer-opportunities__single {
    width: 16%; }
    .customer-opportunities__single-icon {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      width: 130px;
      height: 130px;
      border: 2px solid #b7b7b9;
      border-radius: 100%;
      margin: 0 auto;
      margin-bottom: 25px; }
      .customer-opportunities__single-icon svg {
        width: 48px;
        height: 48px;
        fill: #f6931d; }
    .customer-opportunities__single-title {
      text-align: center;
      font-size: 18px;
      font-family: 'Roboto-Medium', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px; }

.customer-apps .monic-apps__title {
  font-size: 36px; }

.customer-find__title {
  font-size: 32px;
  color: #000;
  font-family: "Roboto-Medium", sans-serif;
  margin-bottom: 40px; }

.customer-find__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  margin-left: -15px;
  margin-right: -15px; }

.customer-find__list {
  width: 25%;
  padding: 0 15px; }
  .customer-find__list li {
    margin-bottom: 5px; }
    .customer-find__list li:last-child {
      margin-bottom: 0; }
  .customer-find__list a {
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    border-radius: 5px;
    transition: none; }
    .customer-find__list a:hover {
      color: #fff;
      background: #f6931d; }
    .customer-find__list a.active {
      color: #fff;
      background: #f6931d; }

.customer-find__content {
  width: 75%;
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.customer-find__info h2 {
  font-size: 32px;
  color: #000;
  font-family: "Roboto-Italic", sans-serif;
  margin-bottom: 20px; }

.customer-find__text {
  margin-bottom: 50px;
  line-height: 1.4; }
  .customer-find__text ul li {
    padding-left: 15px;
    position: relative;
    margin-bottom: 5px; }
    .customer-find__text ul li:before {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background: #000; }

.customer-find__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px; }
  .customer-find__table thead th {
    padding: 20px;
    background: #f5f5f5;
    font-weight: normal;
    font-family: "Roboto-Bold", sans-serif;
    border: 1px solid #000; }
  .customer-find__table tbody td {
    padding: 20px;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    border: 1px solid #000; }

.additional-services {
  padding: 40px 0; }
  .additional-services__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px; }
  .additional-services__single {
    padding: 0 15px;
    width: 33.3333%;
    text-align: center;
    margin-bottom: 30px; }
    .additional-services__single p {
      font-size: 22px;
      line-height: 1.4; }
  .additional-services__text {
    line-height: 1.4;
    padding: 0 15px; }

.self-employed {
  background: url(../img/self-employed.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0; }
  .self-employed__title {
    font-size: 48px;
    font-family: "Roboto-Bold", sans-serif;
    line-height: 1.1;
    margin-bottom: 42px; }
  .self-employed__text {
    font-size: 24px;
    line-height: 1.6; }
    .self-employed__text p {
      margin-bottom: 40px; }

.self-employed-benefits {
  padding: 46px 0; }
  .self-employed-benefits__single img {
    margin-bottom: 20px; }
  .self-employed-benefits__single h2 {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Roboto-Medium", sans-serif; }

.self-employed-info {
  padding: 40px 0 0;
  background: #f1f1f1;
  position: relative; }
  .self-employed-info:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: #fff;
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.03), 0 -6px 9px 0 rgba(0, 0, 0, 0.05);
    z-index: 1; }
  .self-employed-info__subtitle {
    font-size: 30px;
    text-align: center;
    font-family: "Roboto-Light", sans-serif;
    margin-bottom: 50px; }
  .self-employed-info__single {
    text-align: center; }
    .self-employed-info__single img {
      max-width: 100%;
      margin: 0 auto; }
    .self-employed-info__single h2 {
      text-align: center;
      background: #fff;
      font-size: 22px;
      line-height: 1.28;
      letter-spacing: -0.5px;
      color: #030303;
      height: 180px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      position: relative;
      z-index: 2;
      max-width: 250px;
      margin: -125px auto 0; }

.self-employed-contact {
  padding-bottom: 25px; }
  .self-employed-contact__title {
    padding: 10px 0;
    text-align: center;
    background: #f6931d;
    font-size: 30px;
    font-family: "Roboto-Bold", sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .self-employed-contact__subtitle {
    font-size: 18px;
    color: #4a4a4a;
    text-align: center;
    margin-bottom: 40px; }
  .self-employed-contact_form .row {
    -ms-flex-align: end;
        align-items: flex-end; }
  .self-employed-contact_form textarea.form-control {
    height: 119px;
    vertical-align: bottom; }
  .self-employed-contact_form .orange-btn {
    margin-bottom: 30px; }

.become-performer {
  overflow: hidden;
  padding: 30px 0; }
  .become-performer .row {
    -ms-flex-align: center;
        align-items: center; }
  .become-performer__image {
    float: left; }
  .become-performer__title {
    font-size: 36px;
    font-family: "Roboto-Light", sans-serif;
    margin-bottom: 60px; }
  .become-performer__subtitle {
    font-size: 48px;
    font-family: "Roboto-Bold", sans-serif;
    max-width: 550px;
    margin-bottom: 100px; }

.become-performer__info {
  background: #77787a;
  padding: 34px 0;
  text-align: center;
  color: #fff; }
  .become-performer__info p {
    font-size: 30px;
    font-family: "Roboto-Light", sans-serif; }

.become-performer__about {
  padding: 60px 0; }
  .become-performer__about-title {
    font-size: 30px;
    font-family: "Roboto-Bold", sans-serif;
    text-align: center;
    margin-bottom: 30px; }
  .become-performer__about-list li {
    font-size: 18px;
    color: #4a4a4a;
    line-height: 1.78;
    padding-left: 20px;
    position: relative; }
    .become-performer__about-list li:before {
      content: '';
      position: absolute;
      top: 14px;
      left: 5px;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: #4a4a4a; }
    .become-performer__about-list li a {
      color: #1d88e5; }
      .become-performer__about-list li a:hover {
        text-decoration: underline; }
  .become-performer__about .more {
    margin-top: 30px; }

.press {
  padding-top: 80px; }
  .press__single {
    margin-bottom: 80px; }
    .press__single-image {
      margin-bottom: 25px; }
    .press__single-author {
      font-size: 18px;
      font-family: "Roboto-Light", sans-serif;
      margin-bottom: 10px; }
    .press__single-title {
      font-size: 24px;
      font-family: "Roboto-Bold", sans-serif;
      margin-bottom: 30px; }
    .press__single-text p {
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 1.6;
      text-align: justify; }
    .press__single-text h3 {
      font-size: 18px;
      font-family: "Roboto-Bold", sans-serif;
      margin-bottom: 20px; }
    .press__single-text a {
      color: #1d88e5; }
      .press__single-text a:hover {
        text-decoration: underline; }
    .press__single-more {
      color: #1d88e5;
      font-family: "Roboto-Regular", sans-serif;
      font-size: 18px; }
      .press__single-more:before {
        border-top: 1px solid #1d88e5;
        border-right: 1px solid #1d88e5;
        top: 6px; }
    .press__single video {
      width: 100%; }
    .press__single-hide {
      display: none; }

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -ms-transform: scale(1);
  transform: scale(1); }

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

/*Header bottom block*/
.box_link_header{
  margin-top: 14px;
  margin-bottom: 42px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}
.link_header{
  text-align: center;
}
.link_header_li{
  display: inline-block;
}
.link_header_li a{
  text-align: center;
  padding: 14px 24px 14px 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  /*border-bottom: 3px solid #f6931d;*/
}

#customer-last_name{
  margin-right: 30px;
}
#customer-name{
  margin-left: 6px;
}

.register_customer .register_customer_subtitle{
  font-size: 24px;
  color: rgba(74, 74, 74, 0.79);
  line-height: 1.53;
  position: relative;
}

.grey_block{
  width: 100%;
  height: 362px;
  margin: 42px 0 33px;
  background-color: #f1f1f1;
  position: absolute;
}

.register_customer_text{
  padding: 125px 50px 50px;
  line-height: 1.78;
  font-size: 15px;
}

.register_customer .orange-btn{
  margin-top: 59px;
  margin-bottom: 50px;
}

.link_header > li .active{
  border-bottom: 2px solid #f6931d;
  padding-bottom: 0;
  font-weight: normal;
}