@media (max-width: 1349px) {
    .benefits__arrows {
        left: auto;
        right: 10px
    }
}
@media (max-width: 1199px) {
    .header__list > li {
        margin: 0 10px
    }
    .header__list > li > a {
        font-size: 14px
    }
    .header__alert-icon {
        margin-right: 10px
    }
    .apps_bitmap {
        max-width: 100%;
        margin-top: 20px
    }
    .benefits_single h2 {
        font-size: 20px
    }
    .benefits_single p {
        font-size: 14px
    }
    .questions_dark p, .questions_white p {
        font-size: 16px
    }
    .main-title {
        font-size: 24px
    }
    .apps_info h3 {
        font-size: 24px
    }
    .big-title {
        font-size: 46px
    }
    .apps_info p {
        font-size: 20px
    }
    .about_info p {
        font-size: 16px
    }
    .about_tagline p {
        font-size: 32px
    }
    .what-we-give-list li {
        padding: 0 10px
    }
    .what-we-give-training {
        height: 262px
    }
    .more-sect-list a {
        font-size: 30px
    }
    .change-staff-popup {
        width: 950px
    }
    .change-staff-popup .form-group {
        width: 200px
    }
    .login_social-list li {
        margin: 0 10px
    }
    .order_list td {
        font-size: 12px
    }
    .order_list .select {
        font-size: 12px
    }
    .order_list-name {
        max-width: 220px
    }
    .about_promoter.about_monic p {
        margin-bottom: 10px;
        line-height: 1.7
    }
    .about_promoter.about_monic h2 {
        margin-bottom: 10px
    }
    .login .no-account {
        margin-bottom: 30px
    }
    .login-img {
        height: 530px
    }
    .customer-welcome__title {
        margin-top: 45px;
        font-size: 32px
    }
    .how-it-works-steps-single {
        padding: 0 25px
    }
    .customer-find__list a {
        font-size: 14px
    }
    .home-staff__title {
        font-size: 36px
    }
    .home-about__info-title {
        font-size: 18px;
        margin-top: -108px
    }
    .footer__partners-single {
        margin: 0 20px
    }
    .self-employed-benefits__single h2 {
        font-size: 16px
    }
}
@media (max-width: 991px) {
    .not-found-1,
  .not-found-2,
  .not-found-3,
  .not-found-4 {
        background: none;
        padding: 30px 0
    }
    .welcome {
        background: none
    }
    .about_monic {
        background: none
    }
    .about_promoter-img {
        display: none
    }
    .login-img {
        display: none
    }
    .login .no-account {
        margin-bottom: 90px
    }
    .header_menu a {
        font-size: 16px;
        padding: 36px 0
    }
    .header_menu-dropdown a {
        font-size: 18px;
        padding: 25px 0
    }
    .header_menu li {
        margin-right: 30px
    }
    .header_menu-right li {
        margin-right: 0;
        margin-left: 30px
    }
    .welcome_img {
        display: none
    }
    .welcome {
        padding-bottom: 50px
    }
    .welcome__info {
        margin-bottom: 50px
    }
    .welcome_block .big-title {
        margin-bottom: 30px
    }
    .questions_dark, .questions_white {
        width: 100%
    }
    .about_info p {
        padding: 20px 45px
    }
    .about_info {
        padding-bottom: 0
    }
    .about_tagline {
        margin-top: 0
    }
    .benefits_single {
        width: 100%;
        padding: 0;
        margin-bottom: 30px
    }
    .benefits_single-active {
        width: 100%;
        box-shadow: none;
        padding: 0
    }
    .apps_bitmap {
        display: none
    }
    .footer_about {
        margin-bottom: 20px
    }
    .footer_nav-single {
        padding-left: 0;
        padding-right: 20px
    }
    .social-list {
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .social-list li {
        margin-right: 20px
    }
    .how-it-works-steps {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .how-it-works-steps-single {
        width: 50%;
        margin-bottom: 30px
    }
    .what-we-give img {
        margin-bottom: 30px
    }
    .what-we-give-training {
        height: auto;
        padding: 20px
    }
    .what-we-give-training p br {
        display: none
    }
    .more-sect-list a {
        font-size: 22px
    }
    .more-sect .tab-list a {
        font-size: 16px
    }
    .change-staff-popup {
        width: 730px
    }
    .change-staff-popup .form-group {
        width: 48%
    }
    .change-staff-popup-buttons {
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .change-staff-popup-buttons .grey-btn, .change-staff-popup-buttons .orange-btn {
        margin-left: 0
    }
    .login_form {
        max-width: 400px;
        margin: 0 auto
    }
    .login_title {
        text-align: center
    }
    .order_list {
        width: 1100px
    }
    .overflow-table {
        overflow-x: auto
    }
    .header-burger {
        display: block;
        background: transparent;
        border: none;
        width: 25px;
        height: 14px;
        z-index: 2;
        position: relative
    }
    .header-burger:before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: .5s
    }
    .header-burger:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .5s
    }
    .header-burger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 6px;
        right: 0;
        transition: .5s;
        opacity: 1
    }
    .header-burger.close:before {
        top: 50% !important;
        transition: .5s;
        -ms-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg)
    }
    .header-burger.close:after {
        top: 50% !important;
        transition: .5s;
        -ms-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg)
    }
    .header-burger.close span {
        opacity: 0
    }
    .header__list {
        display: none
    }
    .header__left,
  .header__social {
        width: 150px
    }
    .header__social {
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .header-mobile {
        background: #000;
        padding: 10px 15px
    }
    .header-mobile ul li {
        margin-bottom: 10px
    }
    .header-mobile ul a {
        color: #fff
    }
    .about__info p {
        font-size: 30px
    }
    .about__info {
        padding: 50px 0
    }
    .about__tagline p {
        font-size: 32px
    }
    .apps_info-link a {
        display: block
    }
    .customer-welcome__image {
        display: none
    }
    .customer-welcome__text {
        max-width: 100%
    }
    .customer-welcome__info {
        max-width: 100%
    }
    .customer-about .col-lg-6 {
        margin-bottom: 20px
    }
    .customer-opportunities__single {
        width: 33.3333%;
        margin-bottom: 20px
    }
    .customer-opportunities__inner {
        -ms-flex-pack: center;
        justify-content: center
    }
    .feedback_form {
        margin-bottom: 20px
    }
    .monic_work-img {
        display: none
    }
    .monic_work-list {
        width: 100%
    }
    .monic_work-inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .monic_work-list li {
        text-align: left;
        height: auto;
        margin-bottom: 15px
    }
    .monic_work-list li br {
        display: none
    }
    .order__check {
        display: none
    }
    .news__image {
        margin-bottom: 20px
    }
    .news__title {
        margin-bottom: 20px
    }
    .news__excerpt {
        margin-bottom: 20px
    }
    .news__single {
        margin-bottom: 50px
    }
    .news {
        padding: 50px 0 0
    }
    .offer__head h2 {
        width: 100%;
        margin-bottom: 10px
    }
    .offer__head {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .promoter__info p {
        font-size: 30px
    }
    .promoter__info {
        padding: 50px 0
    }
    .what-we-give {
        padding-top: 50px;
        padding-bottom: 0
    }
    .monic-apps__image {
        display: none
    }
    .customer-find__list {
        width: 100%;
        overflow-y: auto;
        background: #f6931d;
        padding: 0;
        margin: 0 15px 30px
    }
    .customer-find__list ul {
        display: -ms-flexbox;
        display: flex;
        width: 2000px
    }
    .customer-find__list ul a {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        width: auto;
        padding: 10px 15px;
        text-align: center;
        height: 100%
    }
    .customer-find__list li {
        margin: 0;
        border-right: 1px solid #d88018;
        width: 200px
    }
    .customer-find__content {
        width: 100%
    }
    .additional-services__single p {
        font-size: 16px
    }
    .home-staff__image {
        display: none
    }
    .home-staff {
        padding-bottom: 20px
    }
    .home-staff__title {
        text-align: left;
        margin-bottom: 30px
    }
    .home-about__right {
        text-align: left
    }
    .home-about__info-title {
        font-size: 22px
    }
    .home-services__single {
        border: none;
        border-bottom: 1px solid #d8d8d8;
        padding: 30px 0;
        width: 100%
    }
    .home-services__single:last-child {
        border-right: none
    }
    .home-services__single:first-child {
        border-top: 1px solid #d8d8d8
    }
    .home-services__info p {
        font-size: 20px
    }
    .home-services__info {
        padding: 30px 0
    }
    .footer__partners {
        padding-bottom: 0
    }
    .footer__partners-single {
        margin-bottom: 25px
    }
    .self-employed {
        background: #f1f1f1
    }
    .self-employed-benefits__single {
        margin-bottom: 30px
    }
    .self-employed-benefits__single h2 {
        font-size: 18px
    }
    .self-employed-info__single {
        margin-bottom: 30px
    }
    .self-employed-info__single h2 {
        max-width: 280px;
        background: #f1f1f1;
        height: auto;
        margin-top: 10px
    }
    .self-employed-info:before {
        display: none
    }
    .self-employed-contact_form textarea.form-control {
        max-width: 410px
    }
    .become-performer__image {
        display: none
    }
}
@media (max-width: 767px) {
    .header_logo {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center
    }
    .header_menu {
        display: none
    }
    .welcome {
        padding-bottom: 30px
    }
    .big-title {
        font-size: 30px
    }
    .welcome_block .big-title {
        margin-bottom: 10px
    }
    .yellow-title {
        font-size: 20px
    }
    .welcome_block .yellow-title {
        margin-bottom: 10px
    }
    .welcome_text {
        font-size: 16px;
        margin-bottom: 10px
    }
    .questions_dark, .questions_white {
        padding: 30px 15px
    }
    .main-title {
        font-size: 22px;
        margin-bottom: 20px
    }
    .questions_dark .main-title, .questions_white .main-title {
        margin-bottom: 10px
    }
    .questions_dark p, .questions_white p {
        margin-bottom: 10px
    }
    .questions_answer {
        margin-bottom: 20px
    }
    .about {
        padding-top: 30px
    }
    .about_info p {
        padding: 10px 15px
    }
    .about_tagline p {
        padding: 20px 15px
    }
    .about_tagline p {
        font-size: 20px
    }
    .benefits {
        padding-top: 30px
    }
    .benefits_single svg {
        margin-bottom: 5px
    }
    .benefits_single h2 {
        margin-bottom: 10px
    }
    .benefits_single {
        margin-bottom: 30px
    }
    .apps {
        padding: 30px 0 20px
    }
    .apps_info h3 {
        font-size: 18px;
        margin-bottom: 10px
    }
    .apps_info .big-title {
        margin-bottom: 10px
    }
    .apps_info p {
        margin-bottom: 10px
    }
    .apps_info-btns a {
        margin-bottom: 10px
    }
    .footer {
        padding: 30px 0
    }
    .footer_logo {
        margin-bottom: 10px
    }
    .footer_about {
        margin-bottom: 10px
    }
    .footer_nav-block {
        width: 100%;
        margin-bottom: 20px
    }
    .footer_nav-single h2 {
        margin-bottom: 5px
    }
    .footer_list li {
        margin-bottom: 5px
    }
    .footer_nav-single-help p {
        margin-bottom: 5px
    }
    .footer_copyright {
        padding-top: 10px;
        text-align: center
    }
    .about_monic h2 {
        margin-top: 30px;
        margin-bottom: 10px
    }
    .about_monic p {
        margin-bottom: 10px
    }
    .about_monic-btns .more {
        margin-bottom: 20px
    }
    .about_monic-btns {
        margin-bottom: 30px
    }
    .how-it-works-steps-single {
        width: 100%
    }
    .how-it-works {
        padding-bottom: 0
    }
    .how-it-works-steps-single h3 {
        font-size: 20px
    }
    .what-we-give {
        padding: 30px 0
    }
    .what-we-give h2 {
        font-size: 30px;
        margin-bottom: 20px
    }
    .what-we-give-list li {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        font-size: 16px
    }
    .what-we-give-list {
        margin-bottom: 0
    }
    .what-we-give img {
        margin-bottom: 10px
    }
    .more-sect .tab-list li {
        width: 50%
    }
    .more-sect .tab-list a {
        width: 100%
    }
    .more-sect {
        padding-top: 30px;
        padding-bottom: 10px
    }
    .more-sect-list a {
        font-size: 20px
    }
    .more-sect-list li {
        margin-bottom: 10px
    }
    .more-sect-list {
        margin-bottom: 20px
    }
    .more-sect .tab-list {
        margin-bottom: 20px
    }
    .contacts {
        padding: 30px 0
    }
    .contacts .breadcrumbs {
        margin-bottom: 30px
    }
    .contacts_logo {
        margin-bottom: 20px
    }
    .contacts_title {
        margin-bottom: 20px;
        font-size: 30px
    }
    .contacts_phone {
        margin-bottom: 10px;
        font-size: 22px
    }
    .contacts_social {
        margin-bottom: 10px;
        font-size: 20px
    }
    .contacts_address {
        font-size: 16px
    }
    .feedback {
        padding: 30px 0
    }
    .feedback .breadcrumbs {
        margin-bottom: 30px
    }
    .feedback_info {
        margin-bottom: 20px
    }
    .form-group {
        margin-bottom: 20px
    }
    .staff {
        padding: 30px 0
    }
    .change-staff-popup,
  .add-brahch-popup,
  .add-staff-popup {
        padding: 30px 15px;
        width: 100%
    }
    .overflow-table {
        overflow-x: auto
    }
    .staff_table {
        width: 700px
    }
    .add-brahch-popup form,
  .add-staff-popup form {
        padding: 0
    }
    .add-brahch-popup-buttons .grey-btn,
  .change-staff-popup-buttons .grey-btn {
        margin-bottom: 10px
    }
    .add-brahch-popup-buttons,
  .change-staff-popup-buttons {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center
    }
    .add-brahch-popup h2,
  .add-staff-popup h2,
  .change-staff-popup h2 {
        margin-bottom: 20px
    }
    .add-staff-popup-left,
  .add-staff-popup-right {
        width: 100%
    }
    .change-staff-popup .form-group {
        width: 100%
    }
    .faq {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .faq .breadcrumbs {
        margin-bottom: 30px
    }
    .faq-title {
        font-size: 28px;
        margin-bottom: 0px
    }
    .faq-single {
        padding: 20px 0
    }
    .faq-single h2 {
        font-size: 22px;
        margin-bottom: 10px
    }
    .faq-single p {
        font-size: 16px
    }
    .login {
        padding: 30px 0
    }
    .login .no-account {
        margin-bottom: 30px
    }
    .login_social-list li {
        margin: 0 5px
    }
    .order_new-block-dates {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .order_new-block-dates .form-group {
        width: 100%;
        margin-bottom: 10px !important
    }
    .order {
        padding: 30px 0
    }
    .order_header-btns {
        margin-bottom: 10px
    }
    .order_header {
        margin-bottom: 10px
    }
    .order_list {
        width: 1100px
    }
    .profile {
        padding: 30px 0
    }
    .profile_head h2 {
        font-size: 20px
    }
    .profile_info p {
        font-size: 14px
    }
    .profile_info-director {
        margin-top: 10px
    }
    .profile_deposit-info {
        max-width: 100%;
        margin-bottom: 20px
    }
    .profile-orange-btn {
        margin-top: 20px
    }
    .order-map .order_header {
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .info-content-text {
        margin-right: 0
    }
    .info-content-text-single {
        width: auto
    }
    .info-content-text-single p {
        font-size: 12px
    }
    .info-content-column-count p {
        font-size: 12px
    }
    .info-content-column-count span {
        width: 30px;
        height: 30px;
        font-size: 24px
    }
    .info-content {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .info-content-text {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .info-content-title span {
        display: initial
    }
    .info-content-title {
        margin-right: 0;
        margin-bottom: 20px
    }
    .info-content-text-single {
        margin-bottom: 20px
    }
    .info-content-count {
        width: 100%
    }
    .login_title {
        text-align: left
    }
    .order .overflow-table {
        margin-bottom: 30px
    }
    .change-staff-popup-block {
        text-align: center
    }
    .info-content-count-all span {
        font-size: 14px
    }
    .info-content-count-all p {
        font-size: 24px
    }
    .info-content-count-all {
        width: 50px;
        height: 50px
    }
    .order-map {
        padding-top: 10px
    }
    .add-deposit-popup-buttons {
        padding: 0
    }
    .add-deposit-popup-buttons {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center
    }
    .add-deposit-popup-buttons .grey-btn {
        margin-bottom: 10px
    }
    .add-deposit-popup .form-group label {
        margin-bottom: 10px
    }
    .add-deposit-popup .form-group .form-control {
        max-width: 100%
    }
    .add-code-popup h2 {
        font-size: 20px;
        margin-bottom: 30px
    }
    .add-code-popup h2 br {
        display: none
    }
    .benefits_single {
        text-align: center
    }
    .benefits_single p {
        text-align: left
    }
    .apps_info {
        text-align: center
    }
    .apps_info-btns {
        -ms-flex-pack: center;
        justify-content: center
    }
    .apps_info-btns a {
        margin: 0 10px 10px
    }
    .social-list li {
        margin-right: 15px
    }
    .staff_table {
        margin-bottom: 0
    }
    .staff .overflow-table {
        margin-bottom: 30px
    }
    .header__social {
        display: none
    }
    .welcome__info p {
        font-size: 14px
    }
    .welcome__info {
        padding: 15px
    }
    .welcome__info {
        margin-bottom: 20px
    }
    .about__info p {
        font-size: 18px
    }
    .about {
        padding-top: 0
    }
    .about__info {
        padding: 20px 0
    }
    .about__tagline p {
        font-size: 20px
    }
    .apps_info-link {
        width: 100%;
        margin-bottom: 20px
    }
    .footer_logo {
        text-align: center
    }
    .footer_nav {
        width: 100%;
        margin-bottom: 20px
    }
    .footer_right {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .footer_nav h2 {
        border: none;
        padding: 0;
        margin: 0
    }
    .footer_copyright {
        margin-bottom: 20px
    }
    .footer {
        padding-bottom: 0
    }
    .header {
        padding: 17px 15px
    }
    .customer-welcome__title {
        margin-top: 30px;
        font-size: 28px;
        margin-bottom: 20px
    }
    .customer-welcome__text {
        font-size: 18px;
        margin-bottom: 20px
    }
    .customer-welcome__info {
        font-size: 22px;
        margin-bottom: 30px
    }
    .customer-work .main-title {
        margin-bottom: 30px
    }
    .customer-work__list:before {
        display: none
    }
    .customer-work__list ul li {
        width: 100%
    }
    .customer-work__list ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .customer-work__list ul li {
        text-align: left;
        padding-top: 0;
        margin-bottom: 20px;
        padding-left: 20px
    }
    .customer-work__list ul li br {
        display: none
    }
    .customer-work__list ul li:before {
        top: 0;
        left: 0
    }
    .customer-work__list {
        margin-bottom: 0
    }
    .customer-work {
        padding: 30px 15px 20px
    }
    .customer-work__info {
        margin-bottom: 20px
    }
    .customer-work__btns .orange-btn, .customer-work__btns .black-btn {
        width: 100%;
        margin-bottom: 10px;
        max-width: 300px
    }
    .customer-work__btns {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center
    }
    .customer-about {
        padding: 30px 0 10px
    }
    .customer-opportunities {
        padding: 0
    }
    .customer-opportunities__single {
        width: 100%
    }
    .monic_work-list li {
        font-size: 20px
    }
    .order .radio {
        margin-bottom: 20px !important
    }
    .order-new__info-title {
        text-align: left;
        width: 50%
    }
    .order-new__info-text {
        width: 50%
    }
    .order-new__info-text a {
        margin-left: 10px
    }
    .order-new__btns .orange-btn {
        font-size: 16px
    }
    .news {
        padding: 30px 0 0
    }
    .news__image {
        margin-bottom: 15px
    }
    .news__title {
        margin-bottom: 15px
    }
    .news__excerpt {
        margin-bottom: 15px
    }
    .archive-btns {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 20px
    }
    .archive-btns a:first-child,
  .archive-btns a:last-child {
        border-radius: 0
    }
    .offer__head h2 {
        text-align: center
    }
    .offer__head-filter {
        width: 100%;
        text-align: center
    }
    .offer__single {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .offer__single-checkbox {
        width: 100%;
        margin-bottom: 20px
    }
    .offer__single-checkbox input + label {
        margin: 0 auto
    }
    .offer__single-img {
        padding-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 20px
    }
    .offer__single-info {
        padding-left: 0;
        width: 100%;
        text-align: center
    }
    .offer__inner {
        width: 100%
    }
    .offer__single-meta {
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 20px
    }
    .offer__single-btns {
        opacity: 1;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .offer__single-btns .white-btn {
        margin-bottom: 0
    }
    .offer__single-btns .white-btn, .offer__single-btns .orange-btn {
        width: 48%
    }
    .checked-block .orange-btn {
        width: 180px
    }
    .checked-block__count {
        padding-left: 0
    }
    .filter-popup h2 {
        margin-bottom: 20px
    }
    .filter-popup__radio {
        margin-top: 0
    }
    .profile-popup h2 {
        margin-bottom: 20px
    }
    .profile-popup__image {
        width: 100%;
        margin-bottom: 20px
    }
    .profile-popup__info {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .profile-popup__bio {
        width: 100%
    }
    .profile-popup__characteristics-single {
        width: 100%
    }
    .profile-popup__characteristics {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .profile-popup__table tr td:first-child {
        width: 50%
    }
    .profile-popup__btns .grey-btn, .profile-popup__btns .orange-btn {
        width: 100%
    }
    .profile-popup__btns {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .profile-popup__btns .grey-btn {
        margin-bottom: 10px
    }
    .promoter__info p {
        font-size: 18px
    }
    .promoter__about p {
        font-size: 16px;
        margin-bottom: 20px
    }
    .promoter__about {
        padding: 30px 0
    }
    .politics {
        padding: 30px 0
    }
    .monic-apps__link {
        width: 100%
    }
    .monic-apps__title {
        font-size: 34px;
        margin-bottom: 20px
    }
    .monic-apps__text {
        font-size: 18px
    }
    .customer-apps .monic-apps__title {
        font-size: 22px
    }
    .education {
        padding: 30px 0
    }
    .customer-find__content {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .customer-find__image {
        text-align: center;
        width: 100%;
        -ms-flex-order: 2;
        order: 2
    }
    .customer-find__image img {
        max-width: 100%
    }
    .customer-find__info {
        width: 100%;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 20px
    }
    .customer-find__title {
        font-size: 22px;
        margin-bottom: 20px
    }
    .customer-find__info h2 {
        font-size: 22px;
        margin-bottom: 10px
    }
    .customer-find__text {
        margin-bottom: 20px
    }
    .customer-find__table thead {
        display: none
    }
    .customer-find__table tbody td {
        display: block;
        padding-left: 50%;
        position: relative;
        border-bottom: none
    }
    .customer-find__table tbody td:last-child {
        border-bottom: 1px solid #000
    }
    .customer-find__table tbody td:before {
        content: attr(data-label);
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        border-right: 1px solid #000;
        background: #f5f5f5;
        padding: 0 20px
    }
    .customer-find__list a.active {
        border-radius: 0;
        color: #000;
        font-family: "Roboto-Medium", sans-serif
    }
    .additional-services__single {
        width: 100%
    }
    .apps_info-link {
        margin-right: 0
    }
    .home-save__text {
        font-size: 22px
    }
    .home-staff__title {
        font-size: 28px
    }
    .home-performers__title {
        font-size: 22px
    }
    .home-performers__text {
        font-size: 16px
    }
    .home-performers {
        padding: 30px 0
    }
    .welcome {
        padding-top: 30px
    }
    .home-save {
        padding: 30px 0
    }
    .home-about {
        padding-top: 30px
    }
    .home-services {
        padding: 30px 0
    }
    .self-employed {
        padding: 30px 0
    }
    .self-employed__title {
        font-size: 30px;
        margin-bottom: 20px
    }
    .self-employed__text {
        font-size: 18px
    }
    .self-employed__text p {
        margin-bottom: 20px
    }
    .self-employed-benefits {
        padding: 30px 0 0
    }
    .self-employed-benefits__single {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }
    .self-employed-benefits__single img {
        margin-bottom: 0;
        margin-right: 10px
    }
    .self-employed-benefits__single h2 {
        width: calc(100% - 65px);
        font-size: 16px
    }
    .self-employed-info {
        padding-top: 30px
    }
    .self-employed-info__subtitle {
        font-size: 18px;
        margin-bottom: 20px
    }
    .self-employed-contact__title {
        padding: 10px;
        font-size: 22px;
        margin-bottom: 20px
    }
    .self-employed-contact__subtitle {
        margin-bottom: 20px
    }
    .self-employed-contact {
        padding-bottom: 0
    }
    .become-performer__title {
        font-size: 24px;
        margin-bottom: 20px
    }
    .become-performer__subtitle {
        font-size: 30px;
        margin-bottom: 20px
    }
    .become-performer {
        padding-bottom: 0
    }
    .become-performer__info {
        padding: 30px 0
    }
    .become-performer__info p {
        font-size: 18px
    }
    .become-performer__about {
        padding: 30px 0
    }
    .become-performer__about-title {
        font-size: 22px;
        margin-bottom: 20px
    }
    .become-performer__about .more {
        margin-top: 20px
    }
    .press {
        padding-top: 30px
    }
    .press__single {
        margin-bottom: 50px
    }
}

@media (max-width: 1024px) {
    .register_customer .img_crm{
        width: 490px;
    }
}

@media (max-width: 414px) {
    .register_customer .img_crm{
        width: 398px;
    }
    .grey_block{
        height: 511px;
    }
}